main#department {
  flex-wrap: wrap;
}

#department .showcase {
  flex: 1;
  flex-basis: 33.33333%;
  position: relative;
  margin-top: -3px; /* revisit if there's time */
}

/*
Neat padding-top trick. Uses the fact that padding is always relative to
the width of the containing element. This means if I want to have width 33%
and height 33% I can set the padding top to 33%.
http://stackoverflow.com/questions/21537806/css-height-same-as-width
*/
#department .showcase.block {
  padding-top: 33.33333%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#department .block.walls {
  background-color: #B3D6D1;
}

#department .block.shelves {
  background-color: #50B1A0;
}

#department .block.closets {
  background-color: #6b2C03 ;
}

#department .block.floors {
  background-color: #2B1E17;
}

#department .block:before {
  content: 'home allure';
  margin-top: -100%;
  font-size: 1.25rem;
  font-weight: lighter;
  border-bottom: 2px solid white;
  padding-bottom: .5rem;
  margin-bottom: .4rem;
  padding-left: .6rem; /*these line and next make the line/border bottom longer*/
  padding-right: .6rem;
}

#department .block:after {
  font-size: 2rem;

}

#department .block.walls:after {
  content: 'walls';
}

#department .block.shelves:after {
  content: 'shelves';
}

#department .block.closets:after {
  content: 'closets';
}
#department .block.floors:after {
  content: 'floors';
}


#department .showcase img {
  width: 100%;
}

#department .showcase h2 {
  font-size: 2.5rem;
}

#department .showcase h2 a {
  color: white;
  text-decoration: none;
}

#department .overlay {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  padding: 1.5rem;
  opacity: 0;
  transition: opacity .25s ease-in-out; /* http://bavotasan.com/2011/a-simple-fade-with-css3/ */
  background: rgba(0, 0, 0, .3);

  display: flex;
  align-items: center;
  justify-content: space-between;;
  flex-direction: row;
}

#department .overlay:hover {
  opacity: 1;
}

#department .overlay span {
  font-size: 1.5rem;
  font-weight: lighter;

  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

#department .overlay .action {
  align-self: flex-end;
  cursor: pointer;
  font-size: 2.5rem;
}

#department .showcase.two {
  display: none;
}

main #department .footer.join:hover{
  display: content inline-flex;

}

/*two across on tablets*/
@media only screen and (max-width: 840px) {  /*tablet-size response rules*/
  #department .showcase {
    flex-basis: 50%;
  }

  #department .showcase.block {
    padding-top: 50%;
  }

  #department .showcase.two {
    display: inherit;
  }

  #department .showcase.three {
    display: none;
  }

  #department .overlay {
    opacity: 1;
  }
}

/*one across on phones*/
@media only screen and (max-width: 620px) { /*phone-size response rules*/
  #department .showcase {
    flex-basis: 100%;
  }

  #department .showcase.block {
    display: none;
  }
}
