@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,300,700);

/* Colors
#B3D6D1 - light green
#50B1A0 - medium green
#6b2C03 - amber brown
#2B1E17 - dark brown
*/

html {
  box-sizing: border-box; /*applies to everything*/
}

*, *:before, *:after { /*trick to match all elements on page*/
  box-sizing: inherit; /*everything gets the sizing from their parent*/
}

html {
  font-family: Comfortaa, sans-serif;
  font-size: 16px;
}

body {
  padding-top: 6.25rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  position: fixed;
  top: 0;
  z-index: 3;

  height: 6.25rem; /*calculated from 16px standard font*/
  width: 100%;

  background: white;
  color: #50B1A0;

/*using flex layout*/
  display: flex;
  align-items: center; /*centers things vertically*/
  justify-content: space-between; /*spreads things out horizontally*/

  padding-right: 2.5rem;
  box-shadow: 0px 2px 11px 4px rgba(20, 20, 20, 0.45);
}

nav .actions { /*cart and menu will be actions*/
  font-size: 2rem;
  display: flex;
}

nav .icon {
  color: #B3D6D1;
}

nav .count {
  margin-left: 1rem;
  width: 2rem;
}

nav .logo {
  height: calc(100% - 1rem); /*img takes up 100% of height minus 16px, top and bottom*/
  margin-left: 1.5rem
}

nav img {
  height: 100%;
}

html, body {
  height: 100%;
}

main {
  min-height: 100%;
  display: flex;
  color: white;
}

footer {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
}

footer .social {
  color: #50B1A0;
  text-decoration: none;
}

footer .social:not(:last-of-type) { /*in order to center it, giving it more right margin to do so*/
  margin-right: 2rem;
}


/*hide the "emailMe" field. When hovered, text to read*/
footer .join {
  color: #50B1A0;
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  height: 3rem;
  align-items: center;

  cursor: pointer;
}

footer form {
  width: 40%;
  display: none;
}

footer input {
  width: 100%;

  border: 2px solid #50B1A0;
  border-radius: 4px;
  padding: .3rem .5rem;

  font-size: 1.1rem;
  font-family: Comfortaa, sans-serif
}

footer input:focus {
  outline: none;
  border-color: #6b2C03;
}

@media only screen and (max-width: 840px) {  /*tablet-size response rules*/
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 620px) { /*phone-size response rules*/
  html {
    font-size: 12px;
  }
}
